
services:
  redis:
    image: redis:7-alpine
    networks:
      - backend
    volumes:
      - ./healthchecks:/healthchecks
    healthcheck:
      test: /healthchecks/redis.sh
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
     # POSTGRES_DB: votes
    networks:
      - backend
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./healthchecks:/healthchecks
      - ./worker/db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: /healthchecks/postgres.sh
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    networks:
      - backend
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
  vote:
    build: 
      context: ./vote
      dockerfile: Dockerfile
    networks:
      - frontend
      - backend
    ports:
      - "8080:80"
    depends_on:
        redis:
          condition: service_healthy
        db:
          condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "python -c 'import urllib.request; urllib.request.urlopen(\"http://localhost:80\")' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  result:
    build: 
      context: ./result
      dockerfile: Dockerfile
    ports:
      - "8081:4000"
    networks:
      - frontend
      - backend
    depends_on:
        db:
          condition: service_healthy
  seed:
    build: 
      context: ./seed-data
      dockerfile: Dockerfile 
    networks:
      - backend
    depends_on:
        db:
          condition: service_healthy
        redis:
          condition: service_healthy
        vote:
          condition: service_healthy
    profiles:
      - seed
networks:
  frontend:
  backend:
volumes:
  postgres-data:
    